# 문제 정의

제공 받은 Dataset은 age, anaemia, high blood pressure, diabetes 등의 병원데이터라고 추측되는 데이터이고 DEATH_EVENT는 해당 환자의 사후관리 기간 중 사망한 경우를 나타냅니다.

In [1]:
pip install mglearn

Collecting mglearn
  Downloading https://files.pythonhosted.org/packages/65/38/8aced26fce0b2ae82c3c87cd3b6105f38ca6d9d51704ecc44aa54473e6b9/mglearn-0.1.9.tar.gz (540kB)
     |████████████████████████████████| 542kB 4.9MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from mglearn) (1.19.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from mglearn) (3.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from mglearn) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from mglearn) (1.1.5)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from mglearn) (7.1.2)
Requirement already satisfied: cycler in /usr/local/lib/python3.7/dist-packages (from mglearn) (0.10.0)
Requirement already satisfied: imageio in /usr/local/lib/python3.7/dist-packages (from mglearn) (2.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from mglearn) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mglearn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mglearn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mglearn) (2.8.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->mglearn) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->mglearn) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler->mglearn) (1.15.0)
Building wheels for collected packages: mglearn
  Building wheel for mglearn (setup.py) ... done
  Created wheel for mglearn: filename=mglearn-0.1.9-py2.py3-none-any.whl size=582638 sha256=6344a0f988de488822ab249de0a9b57f2e3e21e26292c5bf9299a79770d69ae2
  Stored in directory: /root/.cache/pip/wheels/eb/a6/ea/a6a3716233fa62fc561259b5cb1e28f79e9ff3592c0adac5f0
Successfully built mglearn
Installing collected packages: mglearn
Successfully installed mglearn-0.1.9

한글 깨짐 방지

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
 
%config InlineBackend.figure_format = 'retina'
 
!apt -qq -y install fonts-nanum
 
import matplotlib.font_manager as fm

fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 39 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Selecting previously unselected package fonts-nanum.
(Reading database ... 160772 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...

In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sns

데이터 준비 -read_csv() 함수로 데이터셋 가져오기

In [30]:
# csv 파일을 데이터프레임으로 변환
df = pd.read_csv('data.csv', header=None)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       300 non-null    object
 1   1       300 non-null    object
 2   2       300 non-null    object
 3   3       300 non-null    object
 4   4       300 non-null    object
 5   5       300 non-null    object
 6   6       300 non-null    object
 7   7       300 non-null    object
 8   8       300 non-null    object
 9   9       300 non-null    object
 10  10      300 non-null    object
 11  11      300 non-null    object
 12  12      300 non-null    object
dtypes: object(13)
memory usage: 30.6+ KB

In [31]:
# 열 이름 지정
df.columns = ['age','anamia','creatinine_phosphokinase','diabetes','ejection_fraction',
              'high_blood_pressure','platelets','serum_creatinine','serum_sodium',
              'sex','smoking','time','DEATH_EVENT']

In [32]:
df.head()

   age   anamia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
1   75        0                       582  ...        0     4            1
2   55        0                      7861  ...        0     6            1
3   65        0                       146  ...        1     7            1
4   50        1                       111  ...        0     7            1

[5 rows x 13 columns]

데이터 탐색 및 데이터 전처리

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       300 non-null    object
 1   anamia                    300 non-null    object
 2   creatinine_phosphokinase  300 non-null    object
 3   diabetes                  300 non-null    object
 4   ejection_fraction         300 non-null    object
 5   high_blood_pressure       300 non-null    object
 6   platelets                 300 non-null    object
 7   serum_creatinine          300 non-null    object
 8   serum_sodium              300 non-null    object
 9   sex                       300 non-null    object
 10  smoking                   300 non-null    object
 11  time                      300 non-null    object
 12  DEATH_EVENT               300 non-null    object
dtypes: object(13)
memory usage: 30.6+ KB

In [34]:
# column 추가로 중복된 첫 번째행 삭제
df= df.drop(0,0)
df

    age anamia creatinine_phosphokinase diabetes  ... sex smoking time DEATH_EVENT
1    75      0                      582        0  ...   1       0    4           1
2    55      0                     7861        0  ...   1       0    6           1
3    65      0                      146        0  ...   1       1    7           1
4    50      1                      111        0  ...   1       0    7           1
5    65      1                      160        1  ...   0       0    8           1
..   ..    ...                      ...      ...  ...  ..     ...  ...         ...
295  62      0                       61        1  ...   1       1  270           0
296  55      0                     1820        0  ...   0       0  271           0
297  45      0                     2060        1  ...   0       0  278           0
298  45      0                     2413        0  ...   1       1  280           0
299  50      0                      196        0  ...   1       1  285           0

[299 rows x 13 columns]

In [35]:
df.head()

  age anamia creatinine_phosphokinase diabetes  ... sex smoking time DEATH_EVENT
1  75      0                      582        0  ...   1       0    4           1
2  55      0                     7861        0  ...   1       0    6           1
3  65      0                      146        0  ...   1       1    7           1
4  50      1                      111        0  ...   1       0    7           1
5  65      1                      160        1  ...   0       0    8           1

[5 rows x 13 columns]

In [49]:
# age 열의 자료형 변경 (문자열 -> 숫자)
df['age'].unique()

array([75.   , 55.   , 65.   , 50.   , 90.   , 60.   , 80.   , 62.   ,
       45.   , 49.   , 82.   , 87.   , 70.   , 48.   , 68.   , 53.   ,
       95.   , 58.   , 94.   , 85.   , 69.   , 72.   , 51.   , 57.   ,
       42.   , 41.   , 67.   , 79.   , 59.   , 44.   , 63.   , 86.   ,
       66.   , 43.   , 46.   , 61.   , 81.   , 52.   , 64.   , 40.   ,
       60.667, 73.   , 77.   , 78.   , 54.   , 47.   , 56.   ])

In [50]:
# 60.667를 np.nan으로
df['age'].replace('60.667',np.nan, inplace=True)
df.info

<bound method DataFrame.info of       age anamia  creatinine_phosphokinase  ... smoking  time DEATH_EVENT
1    75.0      0                       582  ...       0     4           1
2    55.0      0                      7861  ...       0     6           1
3    65.0      0                       146  ...       1     7           1
4    50.0      1                       111  ...       0     7           1
5    65.0      1                       160  ...       0     8           1
..    ...    ...                       ...  ...     ...   ...         ...
295  62.0      0                        61  ...       1   270           0
296  55.0      0                      1820  ...       0   271           0
297  45.0      0                      2060  ...       0   278           0
298  45.0      0                      2413  ...       1   280           0
299  50.0      0                       196  ...       1   285           0

[299 rows x 13 columns]>

In [51]:
# 누락 데이터를 삭제
df.dropna(subset=['age'], axis=0, inplace=True)

In [54]:
# 열들의 자료형 변경 (문자열 -> 숫자)
df['age']=df['age'].astype('int')

df['anamia'].unique()

df['creatinine_phosphokinase']=df['creatinine_phosphokinase'].astype('int')

df['diabetes'].unique()

df['ejection_fraction']=df['ejection_fraction'].astype('int')

df['high_blood_pressure'].unique()

df['platelets']=df['platelets'].astype('float')

df['serum_creatinine']=df['serum_creatinine'].astype('float')

df['serum_sodium']=df['serum_sodium'].astype('int')

df['sex'].unique()

df['smoking'].unique()

df['time']=df['time'].astype('int')

df['DEATH_EVENT'].unique()

array(['1', '0'], dtype=object)

형변화 완료한 데이터 형식

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 1 to 299
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    int64
 1   anamia                    299 non-null    object
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    object
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    object
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    object
 10  smoking                   299 non-null    object
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 32.7+ KB

In [56]:
df['age'].unique()

array([75, 55, 65, 50, 90, 60, 80, 62, 45, 49, 82, 87, 70, 48, 68, 53, 95,
       58, 94, 85, 69, 72, 51, 57, 42, 41, 67, 79, 59, 44, 63, 86, 66, 43,
       46, 61, 81, 52, 64, 40, 73, 77, 78, 54, 47, 56])

속성 선택

In [58]:
# 분석에 활용할 속성을 선택 
ndf = df[['DEATH_EVENT','age','creatinine_phosphokinase','ejection_fraction']]
ndf.head()

  DEATH_EVENT  age  creatinine_phosphokinase  ejection_fraction
1           1   75                       582                 20
2           1   55                      7861                 38
3           1   65                       146                 20
4           1   50                       111                 20
5           1   65                       160                 20

데이터셋 구분 - 훈련용(train data)/ 검증용(test data)

In [59]:
# 속성(변수) 선택 -> 단순회귀 
X = ndf[['age']]
y = ndf[['DEATH_EVENT']]

In [60]:
# train data 와 test data로 구분(7:3 비율)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,                #독립 변수
                                                    y,                #종속 변수
                                                    test_size=0.3,    #검증 30%
                                                    random_state=10)  #랜덤 추출 값

단순회귀분석 모형-sklearn 사용

In [64]:
# sklearn 라이브러리에서 선형회귀분석 모듈 가져오기
from sklearn.linear_model import LinearRegression

# 단순회귀분석 모형 객체 생성 후 학습 시키기
lr = LinearRegression().fit(X_train, y_train)

성능 평가하기

In [65]:
# 학습을 마친 모형에 test data를 적용하여 결정계수(R-제곱) 계산 -> 결정계수 값이 클수록 모형의 예측 능력이 좋다고 판다
r_square = lr.score(X_test, y_test)
r_square

0.06471219405202222