# 문제 정의

제공 받은 Dataset은 age, anaemia, high blood pressure, diabetes 등의 병원데이터라고 추측되는 데이터이고 DEATH_EVENT는 해당 환자의 사후관리 기간 중 사망한 경우를 나타냅니다.

라이브러리 임포트

In [1]:
# Libraies for reading and handling the data
import numpy as np
import pandas as pd
import re

# Libraries for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Libraries for data preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator, TransformerMixin

# Libraries for creating ML model
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

# Library for Analysing the ML model
from sklearn import metrics

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
 
%config InlineBackend.figure_format = 'retina'
 
!apt -qq -y install fonts-nanum
 
import matplotlib.font_manager as fm

fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

fonts-nanum is already the newest version (20170925-1).
0 upgraded, 0 newly installed, 0 to remove and 39 not upgraded.

데이터 준비하기

In [3]:
# csv 파일을 데이터프레임으로 변환
df = pd.read_csv('data.csv', header=None)

In [4]:
# 열 이름 지정
df.columns = ['age','anamia','creatinine_phosphokinase','diabetes','ejection_fraction',
              'high_blood_pressure','platelets','serum_creatinine','serum_sodium',
              'sex','smoking','time','DEATH_EVENT']

데이터 탐색 및 데이터 전처리

In [5]:
# column 추가로 중복된 첫 번째행 삭제
df= df.drop(0,0)
df.head()

  age anamia creatinine_phosphokinase diabetes  ... sex smoking time DEATH_EVENT
1  75      0                      582        0  ...   1       0    4           1
2  55      0                     7861        0  ...   1       0    6           1
3  65      0                      146        0  ...   1       1    7           1
4  50      1                      111        0  ...   1       0    7           1
5  65      1                      160        1  ...   0       0    8           1

[5 rows x 13 columns]

In [6]:
# age 열의 자료형 변경 (문자열 -> 숫자)
df['age'].unique()

array(['75', '55', '65', '50', '90', '60', '80', '62', '45', '49', '82',
       '87', '70', '48', '68', '53', '95', '58', '94', '85', '69', '72',
       '51', '57', '42', '41', '67', '79', '59', '44', '63', '86', '66',
       '43', '46', '61', '81', '52', '64', '40', '60.667', '73', '77',
       '78', '54', '47', '56'], dtype=object)

In [7]:
# 60.667를 np.nan으로 변경
df['age'].replace('60.667',np.nan,inplace=True)
df.info

<bound method DataFrame.info of     age anamia creatinine_phosphokinase diabetes  ... sex smoking time DEATH_EVENT
1    75      0                      582        0  ...   1       0    4           1
2    55      0                     7861        0  ...   1       0    6           1
3    65      0                      146        0  ...   1       1    7           1
4    50      1                      111        0  ...   1       0    7           1
5    65      1                      160        1  ...   0       0    8           1
..   ..    ...                      ...      ...  ...  ..     ...  ...         ...
295  62      0                       61        1  ...   1       1  270           0
296  55      0                     1820        0  ...   0       0  271           0
297  45      0                     2060        1  ...   0       0  278           0
298  45      0                     2413        0  ...   1       1  280           0
299  50      0                      196        0  ...   1       1  285           0

[299 rows x 13 columns]>

In [8]:
# nan 확인
df['age'].unique()

array(['75', '55', '65', '50', '90', '60', '80', '62', '45', '49', '82',
       '87', '70', '48', '68', '53', '95', '58', '94', '85', '69', '72',
       '51', '57', '42', '41', '67', '79', '59', '44', '63', '86', '66',
       '43', '46', '61', '81', '52', '64', '40', nan, '73', '77', '78',
       '54', '47', '56'], dtype=object)

In [9]:
# 데이터안 nan값 60으로 변경
df=df.fillna(60)

In [10]:
# 변경 사항 확인
df['age'].unique()

array(['75', '55', '65', '50', '90', '60', '80', '62', '45', '49', '82',
       '87', '70', '48', '68', '53', '95', '58', '94', '85', '69', '72',
       '51', '57', '42', '41', '67', '79', '59', '44', '63', '86', '66',
       '43', '46', '61', '81', '52', '64', '40', 60, '73', '77', '78',
       '54', '47', '56'], dtype=object)

In [11]:
# 열들의 자료형 변경 (문자열 -> 숫자)
df['age']=df['age'].astype('int')

df['creatinine_phosphokinase']=df['creatinine_phosphokinase'].astype('int')

df['ejection_fraction']=df['ejection_fraction'].astype('int')

df['platelets']=df['platelets'].astype('float')

df['serum_creatinine']=df['serum_creatinine'].astype('float')

df['serum_sodium']=df['serum_sodium'].astype('int')

df['time']=df['time'].astype('int')

df['DEATH_EVENT']=df['DEATH_EVENT'].astype('int')

In [12]:
# 숫자 형태의 변수 -> 카테고리 형태로 변경
categorical_var=['anamia','diabetes','high_blood_pressure','sex','smoking']
df[categorical_var] = df[categorical_var].astype('category')

형변환 완료한 데이터 형식

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 1 to 299
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    int64
 1   anamia                    299 non-null    category
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    category
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    category
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    category
 10  smoking                   299 non-null    category
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: category(5), float64(2), int64(6)
memory usage: 23.0 KB

In [14]:
df.head()

   age anamia  creatinine_phosphokinase diabetes  ...  sex smoking  time  DEATH_EVENT
1   75      0                       582        0  ...    1       0     4            1
2   55      0                      7861        0  ...    1       0     6            1
3   65      0                       146        0  ...    1       1     7            1
4   50      1                       111        0  ...    1       0     7            1
5   65      1                       160        1  ...    0       0     8            1

[5 rows x 13 columns]

데이터 분리하기

In [15]:
# X(시험지), y(정답지) 분리하기
X = df.iloc[:,:-1]
y = df['DEATH_EVENT']

In [16]:
# 원-핫 인코딩 처리
# 컬럼 -> 원-핫 인코딩 처리
temp = pd.get_dummies(X[categorical_var], drop_first=True)

In [17]:
# 기존 데이터랑 합치기
X_modified = pd.concat([X,temp], axis=1)

In [18]:
# 기존 컬럼 삭제
X_modified.drop(categorical_var, axis=1, inplace=True)

In [19]:
X_modified.head()

   age  creatinine_phosphokinase  ...  sex_1  smoking_1
1   75                       582  ...      1          0
2   55                      7861  ...      1          0
3   65                       146  ...      1          1
4   50                       111  ...      1          0
5   65                       160  ...      0          0

[5 rows x 12 columns]

훈련용, 테스트 데이터 분리하기

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X_modified,y,
                                                    train_size=0.7, # test_size
                                                    random_state=7)

NN 분류 모형 - sklearn 사용

In [21]:
# sklearn 라이브러리에서 NN 분류 모형 가져오기
from sklearn.neural_network import MLPClassifier

# 훈련 세트 각 특성의 평균을 계산
mean_on_train = X_train.mean(axis=0)
# 훈련 세트 각 특성의 표준 편차를 계산
std_on_train = X_train.std(axis=0)

# 데이터에서 평균을 빼고 표준 편차로 나누면
# 평균 0, 표준 편차 1인 데이터로 변환
X_train_scaled = (X_train - mean_on_train) / std_on_train 
# (훈련 데이터의 평균과 표준 편차를 이용해) 같은 변환을 테스트 세트에도 합니다.
X_test_scaled = (X_test - mean_on_train) / std_on_train 

nn = MLPClassifier(max_iter=1000, alpha=1, hidden_layer_sizes =(5,2), random_state=7)

In [22]:
# 훈련 데이터를 사용하여 모형 학습
nn.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=1, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5, 2), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=1000,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=7, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [23]:
# weights 확인
nn.coefs_

[array([[-6.13254800e-01,  1.31805988e-01, -3.80700621e-07,
          3.84114133e-01,  3.47150307e-01],
        [-6.25476550e-02, -6.09893074e-12, -2.90882072e-01,
         -1.59329773e-01,  1.53686048e-11],
        [ 1.01279886e-01,  1.56208712e-01, -7.01292903e-03,
         -3.92515310e-01, -6.72434981e-02],
        [ 3.73624271e-01, -1.38595561e-01, -2.27039739e-08,
          6.34145624e-01, -3.43882498e-01],
        [ 4.35886854e-03,  3.15729131e-01, -1.21560409e-01,
          1.56739171e-01,  2.69937406e-01],
        [-5.46839694e-01, -1.53386379e-10,  1.02677272e-01,
          3.20770588e-01, -9.36946237e-10],
        [-4.55874734e-01, -3.06452609e-10, -1.01949480e-02,
          8.68891491e-02, -1.30200579e-02],
        [ 2.44088353e-01,  1.20517043e-01, -4.59350537e-02,
          1.09227032e-01, -7.79634567e-02],
        [-1.10181525e-01, -1.96135798e-02,  2.57655178e-02,
         -2.59391318e-02, -2.22467758e-09],
        [ 1.15706049e-01, -6.49398203e-04,  2.66938614e-01,
         -1.89507921e-01,  9.38240304e-02],
        [-1.61188451e-01, -7.71741677e-05,  1.31450182e-02,
          9.37133996e-02, -5.16178780e-04],
        [-4.54455164e-01, -2.68395314e-01,  6.51159810e-02,
          5.33395750e-02,  5.40141579e-02]]),
 array([[-2.73995881e-01,  7.50414635e-01],
        [ 5.95072747e-01,  4.21119898e-01],
        [ 1.26400342e-08,  4.08773767e-01],
        [-4.57762987e-01, -4.74330683e-01],
        [ 4.43112130e-07,  2.34418164e-01]]),
 array([[-0.22957328],
        [-0.41690218]])]

In [24]:
# layer shape 확인
[coef.shape for coef in  nn.coefs_]

[(12, 5), (5, 2), (2, 1)]

모델 성능 평가

In [25]:
# NN 모델 성능 평가
from sklearn import metrics

print('테스트 세트 정확도: {:.2f}%'.format(nn.score(X_test, y_test)*100))

테스트 세트 정확도: 72.22%